body {
    font-family: Arial;
    padding: 20px;
    background: #f0f0f0;
}

h1 {
    color: green;
}

form input {
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
}